@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@font-face {
  font-family: 'Space';
  src: url('/fonts/SpaceGrotesk.woff2') format('woff2');
}

@font-face {
  font-family: 'Space';
  src: url('/fonts/SpaceMono-Bold.woff2') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Space';
  src: url('/fonts/SpaceMono-Regular.woff2') format('woff');
  font-weight: normal;
}

